################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SQLCommentsCleaner/v15
/packages
/obj/Debug
/bin/Debug
